 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(55,58,54,0.85), rgba(55,58,54,0.85)), url('images/024c1a5dad8987c0bb8e52f273a1ff22.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 648px;
}

.u-section-1 .u-group-1 {
  width: 855px;
  min-height: 426px;
  height: auto;
  margin: 207px auto 30px;
}

.u-section-1 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 3.75rem;
}

.u-section-1 .u-line-1 {
  width: 193px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 563px;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-1 .u-group-1 {
    min-height: 453px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-line-1 {
    width: 159px;
  }

  .u-section-1 .u-text-2 {
    width: 464px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 122px;
  }

  .u-section-1 .u-text-2 {
    width: 356px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 114px;
  }

  .u-section-1 .u-text-2 {
    width: 333px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 3rem;
  }

  .u-section-1 .u-line-1 {
    width: 96px;
  }

  .u-section-1 .u-text-2 {
    width: 280px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 572px;
}

.u-section-2 .u-group-1 {
  width: 670px;
  min-height: 214px;
  height: auto;
  margin: 29px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  width: 378px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 24px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 307px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-icon-1 {
  height: 50px;
  width: 50px;
  margin: 30px 138px 0;
}

.u-section-2 .u-text-3 {
  position: relative;
  font-size: 1.5rem;
  margin: 35px 0 0;
}

.u-section-2 .u-text-4 {
  position: relative;
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 30px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 307px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-icon-2 {
  height: 50px;
  width: 50px;
  margin: 30px 138px 0;
}

.u-section-2 .u-text-5 {
  position: relative;
  font-size: 1.5rem;
  margin: 35px 0 0;
}

.u-section-2 .u-text-6 {
  position: relative;
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 30px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 307px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-icon-3 {
  height: 50px;
  width: 50px;
  margin: 30px 138px 0;
}

.u-section-2 .u-text-7 {
  position: relative;
  font-size: 1.5rem;
  margin: 35px 0 0;
}

.u-section-2 .u-text-8 {
  position: relative;
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-group-1 {
    width: 552px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    width: 312px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 114px;
    margin-right: 114px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 114px;
    margin-right: 114px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 114px;
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-2 .u-group-1 {
    width: 572px;
    min-height: 227px;
    margin-top: 32px;
  }

  .u-section-2 .u-text-1 {
    width: 350px;
    margin-top: 25px;
  }

  .u-section-2 .u-text-2 {
    margin: 13px 13px 25px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-2 .u-group-1 {
    min-height: 255px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: 344px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 9px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 342px;
    margin: 0 auto 20px 99px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-2 .u-group-1 {
    min-height: 290px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 30px;
    margin-left: 26px;
    margin-right: 26px;
    width: 289px;
  }

  .u-section-2 .u-text-2 {
    margin: 20px 6px 30px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 328px;
    margin-top: 20px;
    margin-left: 6px;
    margin-bottom: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(55,58,54,0.75), rgba(55,58,54,0.75)), url('images/595788450ada444e9d5daeef5338e519.jpeg');
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 542px;
}

.u-section-3 .u-group-1 {
  width: 855px;
  min-height: 355px;
  height: auto;
  margin: 90px auto 50px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  width: 561px;
  margin: 24px auto 0;
}

.u-section-3 .u-line-1 {
  width: 192px;
  height: 8px;
  transform-origin: left center 0;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 25px 20px 0;
}

.u-section-3 .u-btn-1 {
  position: relative;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 25px auto 24px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-3 .u-group-1 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: 463px;
  }

  .u-section-3 .u-line-1 {
    width: 158px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 354px;
  }

  .u-section-3 .u-line-1 {
    width: 121px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 332px;
  }

  .u-section-3 .u-line-1 {
    width: 114px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    min-height: 622px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-line-1 {
    width: 95px;
    margin-top: 24px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 60px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 766px;
}

.u-section-4 .u-group-1 {
  width: 713px;
  min-height: 154px;
  height: auto;
  margin: 42px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  margin-top: 20px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 29px auto 23px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 519px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-image-1 {
  height: 290px;
  margin: 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  margin: 29px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 14px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 519px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-image-2 {
  height: 290px;
  margin: 0;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  margin: 29px 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 14px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 42px auto 32px;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 519px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-image-3 {
  height: 290px;
  margin: 0;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  margin: 29px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 14px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-group-1 {
    width: 588px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 450px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 422px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(55,58,54,0.75), rgba(55,58,54,0.75)), url('images/f5221c9da51f0e67e973c0914e15e3c8.jpeg');
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 465px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 84px auto 84px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 317px;
}

.u-section-5 .u-icon-1 {
  height: 164px;
  width: 164px;
  margin: 67px auto 0 35px;
}

.u-section-5 .u-line-1 {
  height: 244px;
  transform-origin: center top 0;
  width: 3px;
  margin: -204px 42px 26px auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 317px;
}

.u-section-5 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 29px;
  }

  .u-section-5 .u-line-1 {
    width: 2px;
    margin-right: 34px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-icon-1 {
    margin-left: 22px;
  }

  .u-section-5 .u-line-1 {
    width: 10px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-icon-1 {
    margin-left: 100px;
  }

  .u-section-5 .u-line-1 {
    width: 9px;
    margin-right: 209px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-icon-1 {
    margin-left: 10px;
  }

  .u-section-5 .u-line-1 {
    width: 1px;
    margin-right: 12px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 710px;
}

.u-section-6 .u-group-1 {
  width: 729px;
  min-height: 172px;
  height: auto;
  margin: 25px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  margin: 15px 20px 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  width: 565px;
  margin: 20px auto 15px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 22px auto 55px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 229px;
}

.u-section-6 .u-image-1 {
  width: 190px;
  height: 190px;
  object-position: 50% 14.21%;
  background-position: 50% 14.21%;
  margin: 9px auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 229px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-6 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0 0;
}

.u-section-6 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0 20px;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 229px;
}

.u-section-6 .u-image-2 {
  width: 190px;
  height: 190px;
  object-position: 50% 14.21%;
  background-position: 50% 14.21%;
  margin: 9px auto;
}

.u-section-6 .u-layout-cell-4 {
  background-image: none;
  min-height: 229px;
}

.u-section-6 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-6 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0 0;
}

.u-section-6 .u-text-8 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0 20px;
}

.u-section-6 .u-layout-cell-5 {
  background-image: none;
  min-height: 229px;
}

.u-section-6 .u-image-3 {
  width: 190px;
  height: 190px;
  object-position: 31.66% 0%;
  background-position: 31.66% 0%;
  margin: 9px auto;
}

.u-section-6 .u-layout-cell-6 {
  background-image: none;
  min-height: 229px;
}

.u-section-6 .u-container-layout-7 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-9 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-6 .u-text-10 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0 0;
}

.u-section-6 .u-text-11 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0 20px;
}

.u-section-6 .u-layout-cell-7 {
  background-image: none;
  min-height: 229px;
}

.u-section-6 .u-image-4 {
  width: 190px;
  height: 190px;
  object-position: 0% 100%;
  background-position: 0% 100%;
  margin: 9px auto;
}

.u-section-6 .u-layout-cell-8 {
  background-image: none;
  min-height: 229px;
}

.u-section-6 .u-container-layout-9 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-12 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-6 .u-text-13 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0 0;
}

.u-section-6 .u-text-14 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-group-1 {
    width: 601px;
    height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    width: 466px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-1 {
    width: 157px;
    height: 157px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 157px;
    height: 157px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-3 {
    width: 157px;
    height: 157px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-4 {
    width: 157px;
    height: 157px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 460px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    width: 357px;
  }

  .u-section-6 .u-image-1 {
    width: 120px;
    height: 120px;
  }

  .u-section-6 .u-image-2 {
    width: 120px;
    height: 120px;
  }

  .u-section-6 .u-image-3 {
    width: 120px;
    height: 120px;
  }

  .u-section-6 .u-image-4 {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2098px;
  }

  .u-section-6 .u-group-1 {
    width: 432px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    width: 335px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 317px;
    margin: 20px auto 57px 112px;
  }

  .u-section-6 .u-image-1 {
    width: 113px;
    height: 113px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-6 .u-image-2 {
    width: 113px;
    height: 113px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 228px;
  }

  .u-section-6 .u-image-3 {
    width: 113px;
    height: 113px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 228px;
  }

  .u-section-6 .u-image-4 {
    width: 113px;
    height: 113px;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 228px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2123px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    width: 281px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 68px;
    margin-left: 12px;
  }

  .u-section-6 .u-image-1 {
    width: 94px;
    height: 94px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .u-section-6 .u-image-2 {
    width: 94px;
    height: 94px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .u-section-6 .u-image-3 {
    width: 94px;
    height: 94px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .u-section-6 .u-image-4 {
    width: 94px;
    height: 94px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 213px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 21px auto 21px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 192px;
}

.u-section-7 .u-image-1 {
  width: 190px;
  height: 86px;
  margin: 43px auto;
}

.u-section-7 .u-layout-cell-2 {
  background-image: none;
  min-height: 192px;
}

.u-section-7 .u-image-2 {
  width: 190px;
  height: 86px;
  margin: 43px auto;
}

.u-section-7 .u-layout-cell-3 {
  background-image: none;
  min-height: 192px;
}

.u-section-7 .u-image-3 {
  width: 190px;
  height: 86px;
  margin: 43px auto;
}

.u-section-7 .u-layout-cell-4 {
  background-image: none;
  min-height: 192px;
}

.u-section-7 .u-image-4 {
  width: 190px;
  height: 86px;
  margin: 43px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    width: 157px;
  }

  .u-section-7 .u-image-2 {
    width: 157px;
  }

  .u-section-7 .u-image-3 {
    width: 157px;
  }

  .u-section-7 .u-image-4 {
    width: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    width: 120px;
  }

  .u-section-7 .u-image-2 {
    width: 120px;
  }

  .u-section-7 .u-image-3 {
    width: 120px;
  }

  .u-section-7 .u-image-4 {
    width: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    width: 113px;
  }

  .u-section-7 .u-image-2 {
    width: 113px;
  }

  .u-section-7 .u-image-3 {
    width: 113px;
  }

  .u-section-7 .u-image-4 {
    width: 113px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    width: 94px;
  }

  .u-section-7 .u-image-2 {
    width: 94px;
  }

  .u-section-7 .u-image-3 {
    width: 94px;
  }

  .u-section-7 .u-image-4 {
    width: 94px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 800px;
}

.u-section-8 .u-group-1 {
  min-height: 153px;
  margin: 25px 0 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  margin: 15px 60px 0;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  width: 445px;
  margin: 20px auto 15px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 10px 0 52px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 280px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 296px;
}

.u-section-8 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-8 .u-text-3 {
  margin-left: 0;
  margin-right: 20px;
  position: relative;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-8 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 104px 0 0;
}

.u-section-8 .u-text-5 {
  margin-right: 104px;
  position: relative;
  margin-left: 0;
  font-size: 0.875rem;
  font-style: italic;
  margin-top: 30px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 296px;
}

.u-section-8 .u-form-1 {
  height: 212px;
  width: 511px;
  margin: 39px auto;
}

.u-section-8 .u-input-1 {
  font-size: 0.875rem;
  letter-spacing: 2px;
}

.u-section-8 .u-input-2 {
  font-size: 0.875rem;
  letter-spacing: 2px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-8 .u-text-2 {
    width: 367px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 16px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 86px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 86px;
  }

  .u-section-8 .u-form-1 {
    width: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-8 .u-text-2 {
    width: 281px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 66px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 66px;
  }

  .u-section-8 .u-form-1 {
    width: 323px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-8 .u-text-2 {
    width: 263px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 49px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 49px;
  }

  .u-section-8 .u-form-1 {
    width: 421px;
    margin-top: 39px;
    margin-bottom: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 220px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 330px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 31px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 31px;
  }

  .u-section-8 .u-form-1 {
    height: 316px;
    width: 254px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}